@import url(./geral.css);

/* FORMULÁRIO */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  margin: 20px 0;
  padding: 0 10px;
}

#form .container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
}

#form .campo {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}

#form .titulo {
  color: #444;
  font-family: "Poppins";
  font-size: 16px;
}

#form label {
  margin-left: 10px;
  margin-right: 50px;
  color: #444;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 300;
  white-space: nowrap;
}

#form input,
#form textarea {
  width: 100%;
  padding: 10px;

  border: solid 2px #e0aaff;
  border-radius: 10px;

  color: #444;
  font-size: 20px;
  font-family: "Poppins";

  background-color: #f8ebff;

  resize: none;
  outline: none;
}

#form input:hover,
#form textarea:hover {
  background-color: #e0aaff;
}

#form input::placeholder {
  color: #999;
}

#form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8ebff inset !important;
  -webkit-text-fill-color: #444 !important;
}

#form button {
  cursor: pointer;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;

  color: #fff;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 800;

  background-color: #bb45ff;
}

#form button:hover {
  background-color: #a200ff;
}

/* @MEDIA */

@media (max-width: 920px) {
  #form .container {
    flex-direction: column;
  }
}
