/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* PADRÃO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border-radius: inherit;

  list-style: none;

  transition: 0.1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #4a4e69;
}

.teste {
  box-shadow: inset 0 0 0 2px red;
  background-color: rgba(165, 42, 42, 0.5);
}

.teste2 {
  box-shadow: 0 0 0 2px red;
  background-color: rgba(165, 42, 42, 0.5);
}

/* FILTROS para fundos */

.filtro-fundo {
  position: relative;
  width: 100%;
}

.filtro-imagem {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.filtro-blur {
  width: 100%;
  height: 100%;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;

  backdrop-filter: blur(10px) saturate(2);
}

/* SEPARADOR */

.separador {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  padding: 20px 10px;

  color: #777;
}

.separador h2 {
  font-size: 40px;
  font-family: "Merienda";
}

.separador .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
}

.separador .linha {
  flex: 1;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #777;
}

/* HEADER / NAV */

#navbar {
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  padding: 10px;

  border-top: solid 4px #5c0a50;
  border-bottom: solid 4px #5c0a50;

  color: #fff;
  font-family: "Merienda";
  text-shadow: 1px 1px 3px #000;

  background-color: rgba(181, 23, 157, 0.8);
}

#navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  max-width: 1200px;
  width: 100%;
}

#navbar .logo {
  cursor: pointer;
  position: relative;

  transform-origin: left top;
}

#navbar .logo:hover {
  scale: 1.2;
}

#navbar .logo-texto {
  font-size: 50px;
}

#navbar .logo-textosup {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 18px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;

  font-size: 24px;
}

#navbar li {
  transform-origin: bottom center;
}

#navbar li:hover {
  z-index: 101;
  scale: 1.5;

  filter: drop-shadow(0px 0px 10px #000);
}

#navbar ul:has(li:hover) li:not(:hover) {
  opacity: 0.5;
}

#navbar i {
  font-size: 40px;
}

/* CABEÇALHO */

#cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 0 10px;

  color: #fff;
  font-family: "Poppins";

  background-color: #003566;
}

#cabecalho .container {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  width: 100%;

  padding: 122px 0 20px 0;
}

#cabecalho h2 {
  font-size: 30px;
}

#cabecalho p {
  font-size: 20px;
}

/* FOOTER */

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  width: 100%;
}

footer iframe {
  display: block;
  width: 100%;
  height: 400px;
  margin: 20px 10px;
  border: 0;
  border-radius: 20px;
}

/* MAIN */

/* @MEDIA */
@media (max-width: 920px) {
  #navbar .container {
    justify-content: center;
  }
  #navbar .links {
    display: none;
  }
}
