@mixin container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@mixin box {
  @include container;
  max-width: 1200px;
  // padding: 10px;
}

@mixin row {
  flex-direction: row;
  justify-content: space-between;
}

@mixin body-local {
  @include container;
  justify-content: start;
  flex: 1;
  padding-bottom: 20px;
}
