@import "tailwindcss";

.box {
    max-width: 1280px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.teste {
    background-color: red;
}

.scrollbar-clean::-webkit-scrollbar {
    width: 13px;
}

.scrollbar-clean::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

.scrollbar-clean::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 9999px;

    border: 4px solid transparent;
    background-clip: padding-box;
}

.scrollbar-clean::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: default;
}

.scrollbar-clean::-webkit-scrollbar-button {
    display: none;
}