@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  border-top: solid 4px #5c0a50;
  border-bottom: solid 4px #5c0a50;
  color: #fff;
  font-family: "Merienda";
  text-shadow: 1px 1px 3px #000;
  background-color: rgba($primary-color, 0.8);

  .logo {
    font-size: 50px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;

    li {
      font-size: 20px;
    }
  }
}
