@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
    @include container;
    background-color: $primary-color;
}

.box {
    @include box;
    flex-direction: row;
    justify-content: space-between;
}